<html>
  <head>
    <link rel="stylesheet" href="/css/styles.css" />
    <script src="./js/app.js"></script>
  </head>
  <body>
    <div class="main-content">
      {{>header}}
      <p> Use this site to get your weather</p>

      <div>
        <label for="address">Address:</label>
        <input type="text" id="address" name="address" placeholder="Location">
        <button type="button" onclick="submit()">Search</button>
      </div>

      <div id="message-1"></div>
      <div id="message-2"></div>
    </div>
    {{>footer}}
  </body>
</html>